

ul.navbar-nav {
  width: 100%;
}

.navbar-light .navbar-nav .nav-link {
  font-family: "Open Sans";
  text-transform: uppercase;
  line-height: 25px;
  letter-spacing: 1.4px;
  font-weight: 600;
  font-style: normal;
  color: black;

}

.navbar-brand {
  margin-right: 0px;
}

/* Navigation hover style */
a.nav-link:hover {
  color: #000;
  background: none;
}

a.nav-link:hover:after{
  width: 50%;
  background: black;
}

a.nav-link:after {
  content: '';
  position: relative;
  top: 9px;
  display: block;
  margin: auto;
  height: 3px;
  width: 0px;
  background: transparent;
  transition: width .2s ease, background-color .2s ease;
}

/* logo width */
.imgrps {
  max-width: 100%;
  height: 3.5em;
  
}

.imgrps h3 {
  font-family: 'Bernald MT Condensed', serif;
  color: #ddac18;
  font-weight: bold;
  transform: translate(0px, 3px);
  opacity: 0.8;
  margin-bottom: 0px;
}

.imgrps h3:hover {
  opacity: 1;
}

.imgrps img {
  transform: translate(10px, -29px);
  height: 50px;
  width: 70px;
  opacity: 0.8;
}

.imgrps img:hover {
  opacity: 1;
}

#ampersand {
  font-family: 'Alice', serif;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* navbar background color */
.navbar {
  background-color: white;
  margin-bottom: 10px;
  padding: 15px 0px 0px 0px ;
}

@media(min-width: 990px) {
  .home-link {
    display: none;
  }
}