<div class="container ">
  <nav class="navbar navbar-expand-lg navbar-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <app-script-hack type="text/javascript" async src="../../assets/js/navlink-collapse.js"></app-script-hack>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav d-flex justify-content-around">
        <li class="nav-item align-self-center home-link">
          <a class="nav-link" routerLink="/home">Home</a>
        </li>
        <li class="nav-item align-self-center">
          <a class="nav-link" routerLink="/about-us">About us <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item align-self-center">
          <a class="nav-link" routerLink="/services">Services</a>
        </li>
        <li class="nav-item d-none d-lg-block">
          <a class="navbar-brand " routerLink="/home">
            <div class="imgrps text-center">
              <img src="https://img.icons8.com/plasticine/100/000000/crown.png"/>
              <div class="center">
                <h3>Crown Nails <span id="ampersand">&</span> Spa</h3>
              </div>
            </div>
        </a>
        </li>
        <li class="nav-item align-self-center">
          <a class="nav-link" routerLink="/gallery">Gallery</a>
        </li>
        <li class="nav-item align-self-center">
          <a class="nav-link" routerLink="/contact-us">Contact us</a>
        </li>
      </ul>
    </div>  
  </nav>
  
 </div>
