<footer>
  <div class="text-muted">
    <div class="container">
      <div class="row logo-site">
        <div class="bd-highlight col"><a routerLink="/home"><img class="imgrps" src="http://fnail01k.fastboymedia.info/uploads/fnail0hli2zg0/attach/1536550698_1536220707nailshoplogo.png" alt="logo"></a>
          <p>1544 Pembina Hyw, Winnipeg, MB, Canada, R3T 2E6</p>
          <a href="https://www.facebook.com/crownnailsandspa/" class="fab fa-facebook display-4"></a>
          <a href="https://www.instagram.com/crownnailsandspa/" class="fab fa-instagram"></a>
          <a href="https://www.google.ca/maps/place/Crown+Nails+and+Spa/@49.833515,-97.1520073,17z/data=!3m1!4b1!4m5!3m4!1s0x52ea75ce91962e3b:0xe0011d0cd7b4baf2!8m2!3d49.8335116!4d-97.1498186" class="fas fa-map-marked-alt"></a>
        </div>
        <div class="bd-highlight col">
          <div class="business-hours">
            <h2 class="title">Opening Hours</h2>
            <ul class="list-unstyled opening-hours">
              <li>Sunday <span class="float-right">12:00-5:00</span></li>
              <li>Monday <span class="float-right">CLOSE</span></li>
              <li>Tuesday <span class="float-right">10:00-7:00</span></li>
              <li>Wednesday <span class="float-right">10:00-7:00</span></li>
              <li>Thursday <span class="float-right">10:00-7:00</span></li>
              <li>Friday <span class="float-right">10:00-7:00</span></li>
              <li>Saturday <span class="float-right">10:00-6:00</span></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row footer-link">
        <div class="bd-highlight col col-sm-12">
          <ul class="nav justify-content-center">
            <li class="nav-item">
              <h5><a class="nav-link" routerLink="/about-us">About us</a></h5>
            </li>
            <li class="nav-item">
              <h5><a class="nav-link" routerLink="/services">Services</a></h5>
            </li>
            <li class="nav-item">
              <h5><a class="nav-link" routerLink="/gallery">Gallery</a></h5>
            </li>
            <li class="nav-item">
              <h5><a class="nav-link" routerLink="/contact-us">Contact us</a></h5>
            </li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-12 text-center">
          <a href="https://www.linkedin.com/in/jon-tran-b7b637133/">&copy; 2020 Crown Nails and Spa - Design</a>
        </div>
      </div>
    </div>
  </div>
</footer>