<footer>
  <div class="py-6 bg-gray-300 text-muted">
    <div class="container">
      <div class="d-flex justify-content-between bd-highlight">
        <div class="bd-highlight"><img class="imgrps" src="http://fnail01k.fastboymedia.info/uploads/fnail0hli2zg0/attach/1536550698_1536220707nailshoplogo.png" alt="logo">
          <p>1544 Pembina Hyw, Winnipeg, MB, Canada, R3T 2E6</p>
          <a href="facebook.com" class="fab fa-facebook display-4"></a>
          <a href="instagram.com" class="fab fa-instagram"></a>
          <a href="instagram.com" class="fas fa-map-marked-alt"></a>
        </div>
        <div class="bd-highlight">
          <div class="business-hours">
            <h2 class="title">Opening Hours</h2>
            <ul class="list-unstyled opening-hours">
              <li>Sunday <span class="float-right">12:00-5:00</span></li>
              <li>Monday <span class="float-right">CLOSE</span></li>
              <li>Tuesday <span class="float-right">10:00-7:00</span></li>
              <li>Wednesday <span class="float-right">10:00-7:00</span></li>
              <li>Thursday <span class="float-right">10:00-7:00</span></li>
              <li>Friday <span class="float-right">10:00-7:00</span></li>
              <li>Saturday <span class="float-right">10:00-6:00</span></li>
            </ul>
          </div>
        </div>
        <div class="bd-highlight">
          <ul class="list-unstyled">
            <li><h5 class="float-right"><a href="#">About Us</a></h5></li>
            <li><h5 class="float-right"><a href="#">Contact Us</a></h5></li>
            <li><h5 class="float-right"><a href="#">Services</a></h5></li>
            <li><h5 class="float-right"><a href="#">Gallery</a></h5></li>
          </ul>
         
        </div>
       
      </div>
      <div class="row">
        <div class="col-12 text-center">
          <a href="https://www.linkedin.com/in/jon-tran-b7b637133/">&copy; 2020 Crown Nails and Spa - Design</a>
        </div>
      </div>
    </div>
  </div>
</footer>