

/* @media (min-width: 768px) {
  .top-right {
    text-align: right;
  }
} */

.in-container {
  padding: 4em 0 0;
}

.title-page {
  margin-bottom: 10px;
}

h2 {
  font-family: 'Playfair Display', serif;
  text-transform: uppercase;
  line-height: 1.4;
  letter-spacing: 2px;
  font-weight: normal;
  font-style: normal;
  color: #303030;
  font-size: 16px;
  position: relative;
  text-align: left;
  margin: 15px 0;
}

.title-page h2 {
  line-height: 1em;
  font-size: 16px;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: relative;
}

.title-page h2:before {
  left: 0px;
  right: 0px;
  background: #ddd;
  content: "";
  display: block;
  height: 1px;
  position: absolute;
  top: 50%;
  width: 100%;
  margin: 0 auto;
}

.title-page h2 span {
  background: #fff;
  padding-right: 15px;
  position: relative;
  z-index: 1;
}

/* CONTACT INFO STYLE */
.contact-info-block {
  margin-bottom: 60px;
  margin-top: 20px;
}

.contact-info-block .row {
  margin-bottom: 20px;
}

.icon_info {
  width: 100%;
  /* line-height: px; */
  /* text-align: center; */
  font-size: 40px;
  /* border: 1px solid; */
}

.contact-info-block h4 {
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 20px;
}

h4 {
  line-height: 14px;
  color: #777;
  font-size: 12px;
  text-transform: uppercase;


}

.contact-info-block .row p {
  margin: 0 0 0px;
  color: #000000;
  text-decoration: none;
}

.map {
  width: 100%;
  height: 500px;
  margin-bottom: 10px;
}

#mapbox {
  width: 100%;
  height: 100% !important;
}

.fancy-box-content a{
  color: black;
  background-color: none;
}

a:hover {
  font-weight: bolder;
  text-decoration: none;
}