<div class="container">
  <div class="in-container">
    <div class="title-page">
      <h2><span>Contact us</span></h2>
    </div>
    <div class="container">
      <div class="row contact-info-block justify-content-center">
        <div class="col-md-4 col-sm-4">
          <div class="row">
            <div class="col-sm-3 col-md-3">
              <div class="icon_info">
                <i class="fas fa-map-marker-alt"></i>
              </div>
            </div>
            <div class="col-sm-9 col-md-9">
              <div class="fancy-box-content">
                <a href="https://www.google.ca/maps/place/Crown+Nails+and+Spa/@49.833515,-97.1520073,17z/data=!3m1!4b1!4m5!3m4!1s0x52ea75ce91962e3b:0xe0011d0cd7b4baf2!8m2!3d49.8335116!4d-97.1498186">1544 Pembina Hwy, Winnipeg, MB, Canada, R3T 2E6</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-4">
          <div class="row">
            <div class="col-md-3 col-sm-3">
              <div class="icon_info">
                <i class="fas fa-phone"></i>
              </div>
            </div>
            <div class="col-md-9 col-sm-9">
              <div class="fancy-box-content">
                <a href="tel:204-504-3359">204-504-3359</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-4">
          <div class="row">
            <div class="col-md-3 col-sm-3">
              <div class="icon_info">
                <i class="fas fa-envelope-open"></i>
              </div>
        
            </div>
            <div class="col-md-9 col-sm-9">
              <div class="fancy-box-content">
                <a href="mailto:crownnails1544@gmail.com">crownnails1544@gmail.com</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="map col-sm-12 col-md-12">
        <div id="mapbox"></div>
      </div>
    </div>
  </div>
</div>