<div class="container">
  <section class="in-container">
    <div class="title-page">
      <h2><span>About us</span></h2>
    </div>
    <div class="section-about about-page">
      <div class="row">
        <div class="col-md-6 col-sm-12">
          <div class="about-content">
            <h2>Welcome to Crown Nails and Spa</h2>
            <p>Welcome to Crown Nails & Spa, Winnipeg’s newest, most innovative nail salon and spa. Pamper yourself with an array of beauty services and treatments in a relaxing, spacious environment. Our talented and professional technicians are very friendly and sure to provide exceptional service every time.</p>
            <p>At Crown Nails & Spa we employ the highest priority to cleanliness and proper sanitation of all equipment and products used. We believe this is the key to providing healthy beauty care.</p>
            <p>Our catalog of services are affordably priced, and includes cutting-edge, innovative: Hand care & foot care services; Modern eyelash extensions, tinting, enhancing and defining eyebrows & eyelashes; Spa treatment and exfoliation; Waxing, threading and other hair removal techniques.</p>
            <p>Coupling state-of-the-art equipment with innovative technologies in beauty care. Crown Nails & Spa offers a myriad of nail colours, appliances and products from renowned brand from Canada and across the world.</p>
            <p>Come to Crown Nails & Spa for your best look ever!</p>
          </div>
        </div>
        <div class="col-md-6 col-sm-12"></div>
      </div>
    </div>
  </section>
</div>
