<div class="container">
  <div class="in-container">
    <div class="title-page">
      <h2><span>Services</span></h2>
    </div>
    <div class="service-container">
      <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-10 top-right btn_service_defale" style="padding-bottom: 20px;">
          <div class="btn_service_book">
            <a routerLink='/contact-us' class="btn btn-primary btn_make_appointment">Make an appointment</a>
            <a href="tel:204-504-3359" class="btn btn-primary"><i class="fa fa-phone"></i>Call now</a>
          </div>
        </div>
      </div>
      <div class="animation_scroll_jumpto">
        <div class="scroll_jumpto">
          <div class="row service-row">
              <div class="col-sm-6 col-md-6 col-xs-12 text-center">
                <div class="circle-service-image"><img src="../../assets/images/gel nails.jpg" alt=""></div>
              </div>
              <div class="col-sm-6 col-md-6 col-xs-12">
                <h2 class="service-name">Crown Nails</h2>
                  <div *ngFor="let item of items">
                    <div *ngIf="item.category == 'Crown Nails'">
                      <div class="detail-price-item">
                        <span class="detail-price-name">{{item.name}}</span>
                        <span class="detail-price-dots"></span>
                        <span class="detail-price-number">$ {{item.price}}</span>
                      </div>
                      <div *ngIf="item.description" class="item-description">
                        <p><i>({{item.description}})</i></p>
                      </div>
                    </div>
                </div>
              </div>
          </div>
          <div class="row service-row">
              <div class="col-sm-6 col-md-6 col-xs-12 text-center">
                <div class="circle-service-image"><img src="../../assets/images/manicure-services.jpg" alt=""></div>
              </div>
              <div class="col-sm-6 col-md-6 col-xs-12">
                <h2 class="service-name">Manicure</h2>
                  <div *ngFor="let item of items">
                    <div *ngIf="item.category == 'Manicure'">
                      <div class="detail-price-item">
                        <span class="detail-price-name">{{item.name}}</span>
                        <span class="detail-price-dots"></span>
                        <span class="detail-price-number">$ {{item.price}}</span>
                      </div>
                      <div *ngIf="item.description" class="item-description">
                        <p><i>({{item.description}})</i></p>
                      </div>
                    </div>
                </div>
              </div>
          </div>
          <div class="row service-row">
              <div class="col-sm-6 col-md-6 col-xs-12 text-center">
                <div class="circle-service-image"><img src="../../assets/images/pedicure.jpg" alt=""></div>
              </div>
              <div class="col-sm-6 col-md-6 col-xs-12">
                <h2 class="service-name">Pedicure</h2>
                  <div *ngFor="let item of items">
                    <div *ngIf="item.category == 'Pedicure'">
                      <div class="detail-price-item">
                        <span class="detail-price-name">{{item.name}}</span>
                        <span class="detail-price-dots"></span>
                        <span class="detail-price-number">$ {{item.price}}</span>
                      </div>
                      <div *ngIf="item.description" class="item-description">
                        <p><i>({{item.description}})</i></p>
                      </div>
                    </div>
                </div>
              </div>
          </div>
          <div class="row service-row">
              <div class="col-sm-6 col-md-6 col-xs-12 text-center">
                <div class="circle-service-image"><img src="../../assets/images/waxing.jpg" alt=""></div>
              </div>
              <div class="col-sm-6 col-md-6 col-xs-12">
                <h2 class="service-name">Waxing</h2>
                  <div *ngFor="let item of items">
                    <div *ngIf="item.category == 'Waxing'">
                      <div class="detail-price-item">
                        <span class="detail-price-name">{{item.name}}</span>
                        <span class="detail-price-dots"></span>
                        <span class="detail-price-number">$ {{item.price}}</span>
                      </div>
                      <div *ngIf="item.description" class="item-description">
                        <p><i>({{item.description}})</i></p>
                      </div>
                    </div>
                </div>
              </div>
          </div>
          <div class="row service-row">
              <div class="col-sm-6 col-md-6 col-xs-12 text-center">
                <div class="circle-service-image"><img src="../../assets/images/Eyelash.jpg" alt=""></div>
              </div>
              <div class="col-sm-6 col-md-6 col-xs-12">
                <h2 class="service-name">Eyelash</h2>
                  <div *ngFor="let item of items">
                    <div *ngIf="item.category == 'Eyelash'">
                      <div class="detail-price-item">
                        <span class="detail-price-name">{{item.name}}</span>
                        <span class="detail-price-dots"></span>
                        <span class="detail-price-number">$ {{item.price}}</span>
                      </div>
                      <div *ngIf="item.description" class="item-description">
                        <p><i>({{item.description}})</i></p>
                      </div>
                    </div>
                </div>
              </div>
          </div>
          <div class="row service-row">
              <div class="col-sm-6 col-md-6 col-xs-12 text-center">
                <div class="circle-service-image"><img src="../../assets/images/kids.jpg" alt=""></div>
              </div>
              <div class="col-sm-6 col-md-6 col-xs-12">
                <h2 class="service-name">Kids under 7 years old</h2>
                  <div *ngFor="let item of items">
                    <div *ngIf="item.category == 'Kids'">
                      <div class="detail-price-item">
                        <span class="detail-price-name">{{item.name}}</span>
                        <span class="detail-price-dots"></span>
                        <span class="detail-price-number">$ {{item.price}}</span>
                      </div>
                      <div *ngIf="item.description" class="item-description">
                        <p><i>({{item.description}})</i></p>
                      </div>
                    </div>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>