<div class="container">
  <section class="in-container">
    <div class="title-page">
      <h2><span>Service</span></h2>
    </div>
    <div class="service-container">
      <div class="row">
        <div class="col-sm-6"></div>
        <div class="col-sm-6 top-right btn_service_defale" style="padding-bottom: 20px;">
          <div class="btn_service_book">
            <a href="#" class="btn btn-primary btn_make_appointment">Make an appointment</a>
            <a href="tel:204-504-3359" class="btn btn-primary"><i class="fa fa-phone"></i>Call now</a>
          </div>
        </div>
      </div>
      <div class="animation_scroll_jumpto">
        <div class="scroll_jumpto">
          <div class="row service-row" id="sci_64">
            <div class="col-sm-4 col-md-4 col-xs-12 text-center">
              <div class="circle-service-image"><img src="http://fnail01k.fastboymedia.info/uploads/fnail0hli2zg0/product/thumbnail/1536569789_1536223232_tay-w360.jpg" alt=""></div>
            </div>
            <div class="col-sm-8 col-md-8 col-xs-12">
              <h2 class="service-name" id="acrylic nails">Acrylic Nails</h2>
                <div *ngFor="let item of items">
                  <div class="detail-price-item">
                  <span class="detail-price-name">{{item.name}}</span>
                  <span class="detail-price-dots"></span>
                  <span class="detail-price-number">{{item.price}}</span>
                </div>
              </div>
            </div>
          </div>
          <div class="row service-row" id="sci_67"></div>
          <div class="row service-row" id="sci_68"></div>
          <div class="row service-row" id="sci_69"></div>
        </div>
      </div>
    </div>
  </section>
</div>