@import url('https://fonts.googleapis.com/css2?family=Alice&display=swap');
@import url('https://db.onlinewebfonts.com/c/eceba41a00b4b94ea2965371c8dda96c?family=Bernard+MT+Condensed');

html, body {
  margin: 0 auto;
  position: relative;
  width: 100%;
  min-height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #fff;
  font-family: 'Questrial',Arial,sans-serif;
  color: #555;
  font-weight: 400;
  font-size: 14px;
}

/* Home Page Google Review */
.eagr-reviews-skeleton-component.jsx-1473416917 {
  max-width: 100% !important;
}

.eagr-header-title.jsx-3318628821 {
  font-weight: lighter !important;
  font-size: 1.15em !important;
  color: #2A2A2A !important;
  font-family: 'Playfair Display', serif !important;
  text-transform: uppercase !important;
  line-height: 1.4 !important;
  letter-spacing: 2px !important;
  font-weight: normal !important;
  font-style: normal !important;
  color: #303030 !important;
  font-size: 16px !important;
  text-indent: -9999px !important;
  line-height: 0 !important;
}

.eagr-header-title.jsx-3318628821:after {
  content: "Customer Reviews" !important;
  text-indent: 0 !important;
  display: block !important;
  line-height: initial !important;

}


.eagr-review-card-container.jsx-274436947 {
  font-size: .7em !important;
  font-family: 'Questrial', 'sans-serif' !important;
  line-height: 15px !important;
  letter-spacing: 2px !important;
  font-weight: 300 !important;
  font-style: normal !important;
  color: black !important;
  text-transform: none !important;
  line-height: normal !important;
}

.eagr-reviews-skeleton-component, .eagr-reviews-skeleton-component * {
  font-family: 'Questrial', 'sans-serif' !important;
  line-height: 15px !important;
  letter-spacing: 2px !important;
  font-weight: 300 !important;
  font-style: normal !important;
  color: black !important;
  text-transform: none !important;
  line-height: normal !important;
}


.eapps-widget-toolbar-panel-share {
  position: unset;
}

.eapps-widget:hover .eapps-widget-toolbar {
    opacity: 1;
    pointer-events: auto;
    display: none;
}

.eapps-widget-toolbar-panel-wrapper {
  width: 100%;
  position: relative;
  display: none;
  background-color: #000;
}

/* @media (max-width: 576px){
  .carousel-indicators li {
      width: 15px;
  }

  h5.card-title {
      font-size: 0.8em;
  }

  body {
      font-size: 10px;
  }

  .business-hours {
      background: none;
  }
} */

/* Gallery */
.eapps-instagram-feed-posts-grid-load-more {
  background: #ffffff !important;
  color: black !important;
  border: 1px solid !important;
  background: #ffffff !important;
  margin-top: 20px !important;
  border: 1px solid #e6e6e6 !important;
  color: #000 !important;
  display: inline-block !important;
  font-size: 0.8em !important;
  font-weight: normal !important;
  height: 50px !important;
  line-height: 50px !important;
  padding: 0 20px !important;
  position: relative !important;
  text-transform: uppercase !important;
  transition: all 0.3s ease !important;
  z-index: 2 !important;
  border: 1px solid #E2E2E2 !important;
  border-radius: 0 !important;
}

.eapps-instagram-feed-posts-grid-load-more:hover {
  background-color: black !important;
  color: white !important;
}
.eapps-instagram-feed-posts-grid-load-more-container.eapps-instagram-feed-posts-grid-load-more-enabled {
  text-align: center !important;
}

.eapps-instagram-feed-title {
  visibility:  hidden !important;
}