<!-- IMAGES SLIDE -->
<div class="container">
  <div id="carouselIndicators" class="carousel slide carousel-fade" data-ride="carousel">
   
    <div class="carousel-inner">
      <div class="carousel-item active" data-interval="50000">
        <img src="http://fnail01k.fastboymedia.info/uploads/fnail0hli2zg0/logo/2018/09/10/2_1536567461_43_3-slider.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item" data-interval="50000">
        <img src="http://fnail01k.fastboymedia.info/uploads/fnail0hli2zg0/logo/2018/09/10/2_1536566966_31_2-slider.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item" data-interval="50000">
        <img src="http://fnail01k.fastboymedia.info/uploads/fnail0hli2zg0/logo/2018/09/10/2_1536566175_30_1-slider.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
    <ol class="carousel-indicators">
      <li data-target="#carouselIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselIndicators" data-slide-to="1" ></li>
      <li data-target="#carouselIndicators" data-slide-to="2" ></li>
    </ol>
  </div>
</div>
<!-- TITLE SECTION -->
<div class="container">
  <div class="title-center">
    <div class="icon">
      <i class="fab fa-pagelines"></i>
    </div>
    <h2><span>Services of Crown Nails and Spa</span></h2>
    <h4 class="sub-title">Come to our salon, you can enjoy the ambiance of our comforting decor. Our warm atmosphere is designed to make you feel relaxed and refreshed.</h4>
  </div>
  <div class="section-service">
    <div class="row">
      <div class="col-sm-4 col-md-6 col-lg-4 ">
        <div class="card">
          <img src="http://fnail01k.fastboymedia.info/uploads/fnail0hli2zg0/product/thumbnail/1536569789_1536223232_tay-w350.jpg" class="card-img-top" alt="Manicure and Pedicure">
          <div class="card-body">
            <h5 class="card-title">Manicure & Pedicure</h5>
            <p class="card-text">Crown Nails & Spa offers the highest quality, most enjoyable manicure and pedicure services.</p>
            <a href="#" class="btn btn-primary">VIEW MORE</a>
          </div>
        </div>
      </div>
      <div class=" col-sm-4 col-md-6 col-lg-4">
        <div class="card">
          <img src="http://fnail01k.fastboymedia.info/uploads/fnail0hli2zg0/product/thumbnail/1536570001_faical-w350.jpg" class="card-img-top" alt="Manicure and Pedicure">
          <div class="card-body">
            <h5 class="card-title">Waxing</h5>
            <p class="card-text">Crown Nails & Spa offers the highest quality, most enjoyable manicure and pedicure services.</p>
            <a href="#" class="btn btn-primary">VIEW MORE</a>
          </div>
        </div>
      </div>
      <div class="col-sm-4 col-md-6 col-lg-4 ">
        <div class="card">
          <img src="http://fnail01k.fastboymedia.info/uploads/fnail0hli2zg0/product/thumbnail/1536570052_add-w350.jpg" class="card-img-top" alt="Manicure and Pedicure">
          <div class="card-body">
            <h5 class="card-title">Acrylic Nails</h5>
            <p class="card-text">Crown Nails & Spa offers the highest quality, most enjoyable manicure and pedicure services.</p>
            <a href="#" class="btn btn-primary">VIEW MORE</a>
          </div>
        </div>
      </div>
      <div class="col-md-4"></div>
      <div class="col-md-4"></div>
    </div>
  </div>
</div>
<!-- CUSTOMER REVIEW -->
	
<app-script-hack type="text/javascript" src="https://apps.elfsight.com/p/platform.js">
</app-script-hack>
<div class="container">
  <div class="elfsight-app-10de43b9-4f4d-4e74-86bc-8a1185515047"></div>
</div>
